.navbar {
    display: flex;

}

.navbar-link {
    text-decoration: none;
    box-sizing: border-box;
    flex-grow: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #035ed8;
    color: black;
}