.button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 6px;
    padding: 20px;
}

.modal-background {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.86);
}

.modal-card {
    margin: 0 auto;
    display: block;
    margin-top: 250px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
}

#projector+label, #board+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-bottom: 30px;
}

#projector+label::before, #board+label::before {
    box-sizing: border-box;
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #e1e1e1;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}

#projector:checked+label::before, #board:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url('../../icons/is.png');
}

#projector, #board {
    position: absolute;
    top: 1000px;
    opacity: 0;
    z-index: -1;
}

.textarea {
    box-sizing: border-box;
    min-height: 100px;
    max-width: 218px;
    resize: none;
}