.loginFormWrapper {
    height: 100vh;
    display: flex;
}

.loginForm {
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 40px;
    width: 300px;
    margin: auto;
}

.label {
    display: block;
    margin-bottom: 10px;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-bottom: 30px;
}

.loginButton {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #056efd;
    border-radius: 10px;
    background-color: #056efd;
    color: #fff;
}

.loginButton:hover {
    cursor: pointer;
    background-color: #035ed8;
}

.loginWarning {
    text-align: center;
    font-size: 12px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px 0;
}

