.currentRoom {
    margin: auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
    max-width: 900px;
}

.currentRoom-title {
    text-align: center;
}

.currentRoomToolsWrapper {
    display: flex;
    flex-direction: column;
}

.currentRoom-tools {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    border-top: 1px solid #e1e1e1;
}

.currentRoom-tools:last-child {
    border-bottom: 1px solid #e1e1e1;
}

.currentRoom-img {
    border-right: 1px solid #e1e1e1;
    margin-right: 10px;
}

.reservationTime {
    text-align: center;
}

.reservationTime-item {
    padding: 5px;
    border-top: 1px solid #e1e1e1;
}

.currentRoom-btn {
    box-sizing: border-box;
    width: 200px;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    border: 1px solid #056efd;
    border-radius: 10px;
    background-color: #fff;
    color: #056efd;
}

.currentRoom-btn:hover {
    background-color: #056efd;
    color: #fff;
    cursor: pointer;
}

.currentRoom-denyBtn, .currentRoom-editBtn, .editCurrentRoomTextInput {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
}

.currentRoom-denyBtn {
    margin-bottom: 10px;
}

.currentRoom-denyBtn:hover, .currentRoom-editBtn:hover {
    background-color: red;
    color: #fff;
}

.editCurrentRoomTextInput {
    border-color: #000;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.editCurrentRoomCheckbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-bottom: 10px;
}

.editCurrentRoomCheckbox+label::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #fff;
}

.editCurrentRoomCheckbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url('../../../icons/is.png');
}

.editCurrentRoomCheckbox {
    position: absolute;
    top: 300px;
    opacity: 0;
    z-index: -1;
}